doctype html
html
  - var title = "Dmitriy Shved - связаться со мной"
  include common/_head
  script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    div.wrapper
      include common/_header
      section.info-about
        .user__info
          .user__img
            img(src="assets/img/user.jpg", alt="Это я!")
          .user__name Дмитрий Швед
          .user__desc Личный сайт веб-разработчик
        .box-tranigle
          svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
            polygon(fill='#efeedf' points='0,0   0,86   500.8,86   500.8,75.5')
            polygon(fill='#eeebdf' points='1000,0   1000,86   500,86   500,75.5')
      section.skill
        .skill__container
          .skill__left
            .about-cont
              .about-header
                .header-text Обо мне
            
              .skill__user-pic
                img(src="assets/img/user-2.jpg", alt="")
              .skill__about-me Кто я
              .skill__about-desc  Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .skill__right
            .skill__header Чем я могу быть полезен
            .skill__desc Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .skill__items
              .skill__name Frontend
              figure.chart(data-percent='45')
                figcaption
                  span HTML5
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
              figure.chart(data-percent='40')
                figcaption
                  span CSS3
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
              figure.chart(data-percent='70')
                figcaption
                  span JavaScript &jQuery
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
            .skill__items
              .skill__name Backend
              figure.chart(data-percent='80')
                figcaption
                  span PHP
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
              figure.chart(data-percent='64')
                figcaption
                  span mySQL
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
              figure.chart(data-percent='36')
                figcaption
                  span Node.js
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
              figure.chart(data-percent='95')
                figcaption
                  span Mongo.db
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
            .skill__items
              .skill__name WorkFlow
              figure.chart(data-percent='55')
                figcaption
                  span Git
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
              figure.chart(data-percent='64')
                figcaption 
                  span Gulp
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')
              figure.chart(data-percent='47')
                figcaption 
                  span Bower
                  svg(width='120', height='120')
                    circle.outer(cx='130', cy='60', r='50', transform='rotate(-90, 95, 95)')

      section.maps
        .maps__container
          .maps__contacts
            .contacts__header Контакты
            ul.contacts__list
              li.contacts__item
                a.contacts__link(href="skype:my_skype") #[i.fa.fa-skype.fa-2x]  my_skype
              li.contacts__item
                a.contacts__link(href="mailto:my_mail@mail.ru") #[i.fa.fa-envelope.fa-2x]  my_mail@mail.ru
              li.contacts__item
                a.contacts__link(href="tell:+455888787") #[i.fa.fa-phone.fa-2x]  +455888787
              li.contacts__item
                a.contacts__link(href="#mymap") #[i.fa.fa-map-marker.fa-2x] Мой адрес не дом и не улица
          #mymap
          
      
    include common/_footer