doctype html
html
  - var title = "Dmitriy Shved - связаться со мной"
  include common/_head
  script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    div.wrapper
      
      include common/_header

      section.info-blog

        .user-info
          .user__img
            img(src="assets/img/user.jpg", alt="Это я!")
          .blog-header Блог
          .blog-desc Статьи которые я написал
          .blog-pic
            +icon('blog_header')
        a(href="#ddd").goto
          +icon('arrow_down', 26)
        .box-tranigle
          svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
            polygon(fill='#eeebdf' points='0,0   0,86   500.8,86   500.8,75.5')
            polygon(fill='#eeebdf' points='1000,0   1000,86   500,86   500,75.5')
      
        
              
    
