- var title = "Dmitriy Shved - мои работы"
include common/_head
body
  <!--[if lt IE 7]>
  <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
  <![endif]-->
  div.wrapper
    section.portfolio#portfolio
      .portfolio__header Мои работы
        .portfolio-pic_work
          +icon('works_header')
      .portfolio__big-slide
        .slider__center
              img(src="assets/img/slide-1.png", alt="Сайт школы онлайн образования")
      .portfolio__name
        .portfolio__left
          .w__container
            .portfolio__work-name Сайт школы онлайн образования
            .portfolio__skill HTML , CSS, JAVASCRIPT
            a.portfolio__link(href="http://loftschool.com" target="_blank") #[i.fa.fa-link] Посмотреть сайт
      .portfolio__small-slide
        .slider__left
          .slider
            .slider__prev
              ul.slider__list
                li.slider__item
                  img(src="assets/img/slide-1.png" alt="")
                li.slider__item
                  img(src="assets/img/slide-2.png" alt="")
                li.slider__item
                  img(src="assets/img/slide-3.png" alt="")
                li.slider__item.active
                  img(src="assets/img/slide-4.png" alt="")
            .slider__controls
              a.slider__link-left(href="#")
        .slider__right
          .slider
            .slider__next
              ul.slider__list
                li.slider__item
                  img(src="assets/img/slide-1.png" alt="")
                li.slider__item.active
                  img(src="assets/img/slide-2.png" alt="")
                li.slider__item
                  img(src="assets/img/slide-3.png" alt="")
                li.slider__item
                  img(src="assets/img/slide-4.png" alt="")
            .slider__controls
              a.slider__link-right(href="#")
  include common/_footer
