doctype html
html
  - var title = "Dmitriy Shved - мои работы"
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    div.wrapper
      include common/_header
      section.info
        .user__info
          .user__img
            img(src="assets/img/user.jpg", alt="Это я!")
          .user__name Дмитрий Швед
          .user__desc Личный сайт веб-разработчика
      section.portfolio
        .portfolio__header Мои работы
        .portfolio__container
          .portfolio__left
            .w__container
              .portfolio__work-name Сайт школы онлайн образования
              .portfolio__skill HTML , CSS, JAVASCRIPT
              a.portfolio__link(href="#") #[i.fa.fa-link] Посмотреть сайт
          .portfolio__right
            .slider__container
              .slider__center
                img(src="assets/img/work-1.png", alt="Сайт школы онлайн образования")
              .slider__left
                img(src="assets/img/work-0.png", alt="Сайт школы онлайн образования")
              .slider__right
                img(src="assets/img/work-2.png", alt="Сайт школы онлайн образования")
      section.about
        .about__header Что обо мне говорят
        .about__reviews
          ul.reviews__list
            li.reviews__item
              .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              .reviews__user
                .user-pic
                  img(src="assets/img/dima.png", alt="photo")
                .user-info Ковальчук Дмитрий
                .user-desc основатель LoftSchool
            li.reviews__item
              .reviews__text Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              .reviews__user
                .user-pic
                  img(src="assets/img/zar.png", alt="photo")
                .user-info Зар Захаров
                .user-desc главный преподаватель
    include common/_footer