footer.footer
    .footer__copyright
      .copyright__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
      .copyright__about © Дмитрий Швед <br>Создано с любовью в LoftSchool | 2016
    .footer__menu
      ul.footer-menu__list
        li.footer-menu__item
          a.footer-menu__link(href="work.html") Мои работы
        li.footer-menu__item
          a.footer-menu__link(href="about.html") Обо мне
        li.footer-menu__item
          a.footer-menu__link(href="blog.html") Блог
        li.footer-menu__item
          a.footer-menu__link(href="auth.html") Авторизация
      .social-menu
        ul.social-menu__list
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-vk.fa-2x(aria-hidden='true')]
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-github-alt.fa-2x(aria-hidden='true')]
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-linkedin.fa-2x(aria-hidden='true')]
    .footer__contact
      ul.footer-contact__list
        li.footer-contact__item
          a.footer-contact__link(href="skype:my_skype") my_skype
        li.footer-contact__item
          a.footer-contact__link(href="mailto:my_mail@mail.ru") my_mail@mail.ru
        li.footer-contact__item
          a.footer-contact__link(href="tell:+455888787") +455888787
        li.footer-contact__item Мой адрес не дом и не улица