header.header
  nav.navigation
    .navigation__social
      .social-menu
        ul.social-menu__list
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-vk.fa-2x(aria-hidden='true')]
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-github-alt.fa-2x(aria-hidden='true')]
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-linkedin.fa-2x(aria-hidden='true')]
    .navigation__menu
      #nav-icon
        span
        span
        span
        span