header.header
  nav.navigation
    .navigation__social
      .social-menu
        ul.social-menu__list
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-vk.fa-2x(aria-hidden='true')]
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-github-alt.fa-2x(aria-hidden='true')]
          li.social-menu__item
            a.social-menu__link(href="#") #[i.fa.fa-linkedin.fa-2x(aria-hidden='true')]
    .navigation__menu
      #nav-icon
        span
        span
        span
        span
#overlay.overlay
  nav.overlay-menu
    ul.overlay-menu__list
      li.overlay-menu__item
        a.overlay-menu__link(href='work.html') Мои работы
      li.overlay-menu__item
        a.overlay-menu__link(href='blog.html') Блог
      li.overlay-menu__item
        a.overlay-menu__link(href='about.html') Обо мне
      li.overlay-menu__item
        a.overlay-menu__link(href='auth.html') Авторизация