.bg-auth {
  background: url('../img/bg.jpg') top left;
  background-repeat: repeat-x;
  background-size: cover;
}

.card-auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .card__login {
    width: 380px;
    height: 395px;
    background-color: rgba(215, 191, 155, 0.6);
    border-radius: 5px;
    @include phone {
      width: 290px;
      height: 360px;
    }
    @include phoneL {
      width: 290px;
      height: 360px;
    }
  }
}

.btn-index {
  padding: 10px;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-bottom-left-radius: 5px;
  border-right: 2px solid rgba(#dde3e7, .5);
}

.goto {
  display: block;
  position: absolute;
  z-index: 5;
  width: 26px;
  bottom: 150px;
  left: 50%;
  margin-left: -13px;
  fill: #fff;
  animation: upp 2s infinite;
  &:hover {
    fill: rgba(#e7a731, .9);
  }
}


@keyframes upp {
  from {
    bottom: 150px;
  }
  50% {
    bottom: 170px;
  }
  to {
    bottom: 150px;
  }
}